<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">LOGIN</a>
  <a [routerLink]="['/student']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">STUDENT</a>
  <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" >User</a>
</nav>